.helloworld {

  color: red;
  background-color: rgb(116, 179, 158);



}


h1 {

  color: white;
  background-color: green;



}

table, tr, td ,th {

  border: 1px solid black;

  border-width: 4px;
  border-collapse: collapse;




}

.surname-th {
  
  border: none;


}

td {

  background-color: rgb(0, 188, 230);



}

th {

  background-color: purple;
}

.video {

  width: 240px;
  margin-top: 30px;


}

.photo {

  margin-top: 2px;
  width: 300px;
  display: block;



}

